@charset "utf-8";
/* CSS Document */
/*first*/
.up-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.social-network {
	display: flex;
	justify-content: flex-start;
}
.utrend-link {
	display: flex;
	justify-content: flex-end;
}
/*second*/
.about-us-more {
	display: flex;
	justify-content: center;
}
/*three*/
.speacer-foto-fourth-line-lap, .speacer-foto-third-line-lap, .speacer-foto-second-line-lap, .speacer-foto-first-line-lap {
	display: flex;
	justify-content: space-around;
}
/*five*/
.become-one-of-us {
	display: flex;
	justify-content: center;
}
.join-team-up {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	}
.join-team-pic-down{
	display: flex;
	justify-content: center;
}
.join-team-sponsor {
	display: flex; 
	flex-direction: row;
}
.join-team-sponsor-text {
	display: flex;
}
.join-team-sponsor-text-in {
	order: 0;
	flex: 1;
}
.join-team-sponsor-img {
	flex: 3;
}
/*six*/
.get-in-toch-photo-lap {
	display: flex;
	justify-content: space-around;
}