@charset "utf-8";
/* CSS Document */
/*first*/
.up-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.social-network {
	display: flex;
	justify-content: flex-start;
}
.utrend-link {
	display: flex;
	justify-content: flex-end;
}
/*second*/
.about-us-more {
	display: flex;
	justify-content: center;
}
/*three*/
.speacer-foto-fivth-line-sm, .speacer-foto-fourth-line-sm, .speacer-foto-third-line-sm, .speacer-foto-second-line-sm, .speacer-foto-first-line-sm {
	display: flex;
	justify-content: space-around;
}
/*five*/
.become-one-of-us-fl {
	display: flex;
	justify-content: center;
}
.join-team-up {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	}
.join-team-pic-down{
	display: flex;
	justify-content: center;
}
/*six*/
.get-in-toch-photo-sm{
	text-align: center;
	display: flex;
	justify-content: space-around;
}
/*last*/
.sponsor-logo {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}