@charset "utf-8";
/* CSS Document */
/*first*/
.social-network {
	margin: 0.3% 0%;
}
.nav-up {
	margin: 0%;
	position: fixed;
}
.social-icon {
	margin: 0.3% 0.2em;
	width: 2.5em;
}
.utrend-link {
	margin: 0.3%;
	width: 12em;
	height: 2.5em
}
#bg-logo{
	padding: 0;
	position: relative;
	width:100%;
	margin: 0%;
	height: 100%;
	}
#logo {
	position: absolute;
	top: 2em;
  	right: 30%;
  	width: 40%;
	}
#nav-up-left {
	position: absolute;
	top: 0px;
  	right: 100%;
  	width: 0%;
	height: 0%;
}
#nav-up-right {
	position: absolute;
	top: 0px;
  	right: 1%;
  	width: 0%;
	height: 0%;
}
/*second*/
.about-us, .about-us-lap {
	display: none;
}
.about-us-text h2 {
	font-size:  2.5em;
}
.about-us-text p {
	font-size:  1.5em;
}
#more {
	margin: 1.5% 0%;
	width: 4em;
	height: 4em;
}
/*three*/
.speacer-foto-fourth-line-lap, .speacer-foto-third-line-lap, .speacer-foto-second-line-lap, .speacer-foto-first-line-lap, .speacer-foto-second-line, .speacer-foto-first-line {
	display:none;
}
.foto-of-organizator{
	margin: 10% 0% 0% 0%;
	width: 10em;
	}
.speakers-text {
	margin: 1.5% 0%;
	text-align: center;
	font-size: 3.5em;
	font-family: "EB Garamond";
}
.get-in-toch-text {
	margin: 0;
	text-align: center;
	font-size: 2em;
	font-family: "EB Garamond";
}
.speaker-info {
	width: 100%;
}
/*four*/
.ivent-text {
	margin: 7% 18% 0% 18%;
	text-align: center;
	font-size: 1.3em;
	}
.program-info {
	text-decoration: none;
	color: #000;
	margin: 36% 40% 0% 40%;
	text-align: center;
	font-size: 1.3em;
	}
/*five*/
.join-team-text {
	font-size:  2em;
}
#lnu-all {
	display: none;
}
.smaller-class{
	width: 100%;
	margin: 2% 0%;
	height: 96%;
}
.become-one-of-us {
	font-size: 2.5em;
	text-decoration: none;
	color: #000;
	margin: 1.5% 0%;
}
.join-team-sponsor {
	display: none;
}
/*six*/
.get-in-toch-photo-lap, .get-in-toch-photo {
	display: none;
	}
.get-in-toch-text-oeganizator {
	margin: 0;
	text-align: center;
	font-size: 2em;
	font-family: "EB Garamond";
}
/*last part*/