@charset "utf-8";
/* CSS Document */
/*first*/
.social-network {
	margin: 0.3% 0%;
}
.nav-up {
	margin: 0%;
	position: fixed;
}
.social-icon {
	margin: 0.3% 0.5em;
	width: 2.5em;
}
.utrend-link {
	margin: 0.3%;
	width: 10em;
	height: 2em
}
#bg-logo{
	padding: 0;
	position: relative;
	width:100%;
	margin: 0%;
	height: 100%;
	}
#logo {
	position: absolute;
	top: 100px;
  	right: 35%;
  	width: 30%;
	}
#nav-up-left {
	position: absolute;
	top: 0px;
  	right: 100%;
  	width: 0%;
	height: 0%;
}
#nav-up-right {
	position: absolute;
	top: 0px;
  	right: 1%;
  	width: 0%;
	height: 0%;
}
/*second*/
.about-us, .about-us-sm {
	display: none;
}
.about-us-text h2 {
	font-size:  2em;
}
.about-us-text p {
	font-size:  1.3em;
}
#more {
	margin: 0% 0% 1.5% 0%;
	width: 3em;
	height: 3em;
}
/*three*/
.speacer-foto-fivth-line-sm, .speacer-foto-fourth-line-sm, .speacer-foto-third-line-sm, .speacer-foto-second-line-sm, .speacer-foto-first-line-sm,.speacer-foto-second-line, .speacer-foto-first-line {
	display: none;
}
.speakers-text {
	margin: 2% 0%;
	text-align: center;
	font-size: 2.5em;
	font-family: "EB Garamond";
}
.speacer-photo{
	margin: 10% 0% 0% 0%;
	width: 10em;
}
.get-in-toch-text {
	margin: 0;
	text-align: center;
	font-size: 1.5em;
	font-family: "EB Garamond";
}
.speaker-info {
	width: 100%;
}
.foto-of-organizator{
	margin: 10% 0% 0% 0%;
	width: 12em;
}
/*four*/
.ivent-text {
	margin: 7% 20% 0% 20%;
	text-align: center;
	font-size: 1.5em;
	}
.program-info {
	margin: 40% 40% 0% 40%;
	text-align: center;
	font-size: 1.3em;
	}
/*five*/
.become-one-of-us {
	font-size: 2.5em;
	text-decoration: none;
	color: #000;
	margin: 3% 0%;
}
.join-team-text {
	font-size:  2.3em;
}
.smaller-class{
	width: 100%;
	margin: 2% 0%;
	background-color: #f8c869;
	height: 96%;
}
#sponsor {
	margin: 0%;
	width: 100%;
}
#sponsor-text {
	font-size: 2em;
}
#sponsor-text-more {
	font-size: 1.5em;
}
/*six*/
.get-in-toch-photo-sm, .get-in-toch-photo {
	display: none;
}
.get-in-toch-photo-lap {
	margin: 0% 0% 0% 0%;
	width: 100%;
}
.get-in-toch-text-oeganizator {
	margin: 0;
	text-align: center;
	font-size: 2em;
	font-family: "EB Garamond";
}
.get-in-toch-text {
	text-align: center;
}
/*last part*/

