@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: 0;
}
/*first*/
.bg-logo-img{
	margin: 0;
	background-color: #a8b1b8;
}
/*second*/
.about-us, .about-us-lap, .about-us-sm {
	margin: 0%;
	background-color: #a8b1b8;
}
.about-us-text h2 {
	font-family: "PT Serif";
	text-align: center;
	margin: 0%;
	}
.about-us-text p {
	font-family: "EB Garamond";
	text-align: center;
	margin: 0% 10%;
}
.about-us-more {
	margin: 0 auto;
}
/*three*/
.speakers-text{
	font-family: "PT Serif";
	text-align: center;
	margin: 0% 5%;
}
/*four*/
/*five*/
.program {
	color: #000;
	text-decoration: none;
}
.join-team {
	background-color: #feb729;
}
.join-team-text {
	margin: 1% 0% 0% 0%;
	font-family: "PT Serif";
	text-align: center;
}
#thre-friend {
	margin: 5% 0%;
	width: 20%;
	height: 20%;
}
.ivent-time {
	position: relative;
	background-color: #feb729;
}
.lnu-bg{
	width: 100%;
}
.program-info {
	border: 5px solid #000;
	background-color: #f8c869;
	position: absolute;
	font-family: "PT Serif";
	text-align: center;
	color: #000;
}
#speacer-text {
	text-align: center;
	margin: 0% 0% 0% 20%;
	font-family: "PT Serif";
	text-decoration: underline;
	color: #000;
}
#sponsor-text {
	text-align: center;
	font-family: "PT Serif";
	text-decoration: underline;
	color: #000;
}
#sponsor-text-more {
	font-family: "EB Garamond";
	margin: 2% 3%
}
.become-one-of-us {
	background-color: #f8c869;
	border: 5px solid #000;
}
/*six*/
.get-in-toch{
	margin: 0%;
	background-color: #6d98ab;
}
/*last part*/
.sponsor-logo{
	background-color: #000;
}
.sponsor-img {
	margin: 2em 0em;
	width: 10em;
	height: 10em;
	}