@charset "utf-8";
/* CSS Document */
/*first*/
.social-network {
	margin: 0.3% 0%;
}
.nav-up {
	margin: 0%;
	position: fixed;
}
.social-icon {
	margin: 0.3% 1em;
	width: 3em;
}
.utrend-link {
	margin: 0.3%;
	width: 15em;
	height: 3em
}
#bg-logo{
	padding: 0;
	position: relative;
	width:100%;
	margin: 0%;
	height: 100%;
	}
#logo {
	position: absolute;
	top: 100px;
  	right: 35%;
  	width: 30%;
	}
#nav-up-left {
	position: absolute;
	top: 0px;
  	right: 100%;
  	width: 0%;
	height: 0%;
}
#nav-up-right {
	position: absolute;
	top: 0px;
  	right: 1%;
  	width: 0%;
	height: 0%;
}
/*second*/
.about-us-lap, .about-us-sm {
	display: none;
}
.about-us-text h2 {
	font-size:  2.5em;
}
.about-us-text p {
	font-size:  1.7em;
}
#more {
	margin: 1.5% 0%;
	width: 4em;
	height: 4em;
}
/*three*/
.speacer-foto-fivth-line-sm, .speacer-foto-fourth-line-sm, .speacer-foto-third-line-sm, .speacer-foto-second-line-sm, .speacer-foto-first-line-sm, .speacer-foto-fourth-line-lap, .speacer-foto-third-line-lap, .speacer-foto-second-line-lap, .speacer-foto-first-line-lap {
	display: none;
}
.speacer-photo{
	margin: 10% 0% 0% 0%;
	width: 13em;
}
.get-in-toch-text {
	margin: 2% 0%;
	text-align: center;
	font-size: 2em;
	font-family: "EB Garamond";
}
.speakers-text{
	margin: 1.5% 0%;
	font-size: 4em;
}
.speaker-info {
	width: 100%;
}
/*four*/
/*five*/
.join-team-text {
	font-size:  3em;
	}
#lnu-sm {
	display:none;
}
.program-info {
	text-decoration: none;
	color: #000;
	margin: 38% 40% 0% 40%;
	text-align: center;
	font-size: 2.5em;
	}
.smaller-class{
	width: 100%;
	margin: 2% 0%;
	background-color: #f8c869;
	height: 96%;
}
#speacer {
	width: 100%;
}
.become-one-of-us {
	font-size: 3em;
	text-decoration: none;
	color: #000;
	margin: 1.5% 0%;
}
#sponsor {
	margin: 0%;
	width: 100%;
}
#sponsor-text {
	margin: 0% 0% 0% 3%;
	font-size: 3em;
}
#sponsor-text-more {
	margin: 0% 0% 0% 3%;
	font-size: 2em;
}
/*six*/
.get-in-toch-photo-sm, .get-in-toch-photo-lap {
	display: none;
}
.foto-of-organizator{
	margin: 10% 0% 0% 0%;
	width: 13em;
}
.get-in-toch-text {
	margin: 0;
	text-align: center;
	font-size: 2em;
	font-family: "EB Garamond";
}
/*last part*/
