@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-black-webfont.eot');
    src: url('../fonts/playfairdisplay-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-black-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-black-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-blackitalic-webfont.eot');
    src: url('../fonts/playfairdisplay-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-blackitalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-blackitalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: itelic;

}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_sc';
    src: url('../fonts/playfairdisplaysc-black-webfont.eot');
    src: url('../fonts/playfairdisplaysc-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplaysc-black-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplaysc-black-webfont.woff') format('woff'),
         url('../fonts/playfairdisplaysc-black-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_sc';
    src: url('../fonts/playfairdisplaysc-blackitalic-webfont.eot');
    src: url('../fonts/playfairdisplaysc-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplaysc-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplaysc-blackitalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplaysc-blackitalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'playfair_sc';
    src: url('../fonts/playfairdisplaysc-bold-webfont.eot');
    src: url('../fonts/playfairdisplaysc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplaysc-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplaysc-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplaysc-bold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_sc';
    src: url('../fonts/playfairdisplaysc-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplaysc-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplaysc-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplaysc-bolditalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplaysc-bolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;

}
@font-face {
    font-family: 'playfair_sc';
    src: url('../fonts/playfairdisplaysc-italic-webfont.eot');
    src: url('../fonts/playfairdisplaysc-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplaysc-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplaysc-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplaysc-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'playfair_sc';
    src: url('../fonts/playfairdisplaysc-regular-webfont.eot');
    src: url('../fonts/playfairdisplaysc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplaysc-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplaysc-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplaysc-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "playfair", sans-serif;
  color: #d8e2e7;
  background-color: rgb(1,24,36);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #267481;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
}
.cd-section .inside-section {
	height: 100vh;
}
.cd-section:first-of-type > div {
  //background-color: #2b334f;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  //content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("../img/img-1.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("../img/img-2.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../img/img-3.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../img/img-4.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../img/img-5.jpg");
}
@media only screen and (min-width: 1050px) {
  .desktop[data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .desktop[data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
 .desktop[data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  .desktop[data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  .desktop[data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  .desktop[data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  .desktop[data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}

/* --------------------------------------------------------------- */

ul {
	margin: 0;
	padding: 0;
}
.image {
	display: inline-block;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
}
.image > img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
.clearfix {
	clear: both;
}

/* ---------------------------------------------------------------- */

.vertical-nav {
	position: fixed;
	left: 20px;
	top: 160px;
	/*-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);*/
	z-index: 100;
}
.vertical-nav li {
	padding: 12px 0;
	//cursor: pointer;
}
.vertical-nav a {
	display: block;
	width: 10px;
	height: 1px;
	background: #fff;
	//margin-bottom: 5px;
	//cursor: pointer;
}
.vertical-nav a.active {
	width: 20px;
}

/*--------------------------------------------------------*/
section {
	position: relative;
	overflow: hidden;
}
.mobile section {
	height: 1080px;
}
.mobile section > div,
.mobile .cd-section .inside-section {
	height: 100%;
}
.fixed-wrapper {
	position: absolute;
	top: 52px;
	right: 52px;
	bottom: 52px;
	left: 52px;
	border: 1px solid #cda940;
	overflow: hidden;
	z-index: 100;
}
.cd-vertical-nav,
.manager,
.page-num {
	font-size: 18px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
}
.cd-vertical-nav {
	bottom: 80px;
	right: -25px;
}
.cd-vertical-nav li {
	float: left;
}
.cd-vertical-nav a {
	color: #fff;
	background: transparent;
	overflow: visible;
	text-indent: 0;
	transform: none !important;
	width: auto;
	height: auto;
	margin: 0;
}
.cd-vertical-nav a:hover {
	color: #253f4d;
}
.cd-vertical-nav .cd-next {
	padding-right: 5px; 
}
.cd-vertical-nav .cd-prev {
	padding-left: 5px; 
	position: relative;
}
.cd-vertical-nav .cd-prev:before {
	content: '';
	position: absolute;
	display: block;
	top: -3px;
	left: 0;
	width: 1px;
	height: 25px;
	background: #fff;
}
.main-tel {
	font-size: 20px;
	position: absolute;
	top: 105px;
	right: 20px;
	color: #d8e2e7;
}
.manager {
	right: 15px;
	top: 385px;
	width: 10px;
	white-space: nowrap;
	cursor: pointer;
}
.page-num {
	bottom: 50px;
	left: 20px;
}
.section-1 .fixed-wrapper {
	border-top: none;
}
.section-1 .fixed-wrapper:before,
.section-1 .fixed-wrapper:after {
	content: '';
	position: absolute;
	display: block;
	width: 50%;
	height: 1px;
	top: 0;
	background: #cda940;
}
.section-1 .fixed-wrapper:before {
	left: -77px;
}
.section-1 .fixed-wrapper:after {
	right: -77px;
}
.section-1 > div {
	background: url(../images/bg-1.jpg) 50% 0 no-repeat;
	background-size: cover;
	text-align: center;
}
.section-1 h2 {
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 6px;
	text-transform: uppercase;
	margin-top: 20px;
}
.main-text {
	margin: 105px 0 20px 0;
	padding-top: 80px;
	text-transform: uppercase;
	position: relative;
	height: 300px;
}
.main-text:before {
	content: '';
	position: absolute;
	display: block;
	width: 300px;
	height: 300px;
	top: 0;
	width: 100%;
	left: 0;
	background: url(../images/ico-triangle.png) 50% 0 no-repeat;
	z-index:-1;
}
.main-text:after {
	content: '';
	position: absolute;
	display: block;
	width: 88px;
	height: 1px;
	top: 140px;
	left: 50%;
	margin-left: -44px;
	background: #cda940;
}
.section-8 h2,
.main-text h1 {
	font-size: 40px;
	line-height: 30px;
	letter-spacing: 20px;
	margin-bottom: 50px;
}
.section-8 h3,
.main-text h3 {
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 9px;
	margin-bottom: 50px;
}
.consultation {
	width: 590px;
	margin: 0 auto;
	position: relative;
	left: 70px;
	text-align: left;
}
.text-consult {
	position: absolute;
	top: 150px;
	left: 170px;
	font-size: 20px;
	line-height: 30px;
}
.btn {
	color: #cda940;
	border: 1px solid #cda940;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	padding: 0 30px;
	height: 70px;
	line-height: 68px;
	transition: .2s;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 2px;
}
.btn:hover {
	background: #cda940;
	color: #000;	
}
.consultation .btn {
	position: absolute;
	bottom: 33px;
	right: 0;
}
.section-2 > div {
	background: url(../images/bg-2.jpg) 50% 0 no-repeat;
	background-size: cover;
	text-align: center;
}
.facts {
	position: absolute;
	left: 225px;
	right: 225px;
	top: 200px;
	bottom: 170px;
}
.triangle-float .item {
	min-width: 300px;
	height: 300px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 40px;
	padding-top: 70px;
	position: absolute;
	border-radius: 0 0 50% 50%;
	background: url(../images/ico-triangle.png) 50% 0 no-repeat;
}
.triangle-float .item .float-image {
	position: absolute;
	top: 37px;
	left: 63px;
	z-index: -1;
	transition: .5s;
}
.triangle-float .item .float-image img {
	max-width: 100%;
	height: auto;
}
.triangle-float .item:hover .float-image {
	top: 0;
	left: 50%;
    margin-left: -150px;
}
.facts .item b {
	font-size: 40px;
}
.facts .item-1 {
	top: 0;
	left: 0;
}
.facts .item-2 {
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
}
.facts .item-3 {
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
.facts .item-1:before {
	content: '';
	position: absolute;
	display: block;
	width: 38px;
	height: 43px;
	top: -44px;
	right: -63px;
	background: url(../images/ico-fact-1.png) no-repeat;
}
.facts .item-2:before {
	content: '';
	position: absolute;
	display: block;
	width: 32px;
	height: 52px;
	top: -53px;
	right: -64px;
	background: url(../images/ico-fact-2.png) no-repeat;
}
.facts .item-3:before {
	content: '';
	position: absolute;
	display: block;
	width: 32px;
	height: 43px;
	top: -43px;
	right: -65px;
	background: url(../images/ico-fact-3.png) no-repeat;
}
.section-3 > div {
	background: rgb(20, 33, 39);
}
.video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.video-text {
	position: absolute;
	top: 100px;
	left: 125px;
	font-size: 18px;
	line-height: 36px;
	width: 660px;
	z-index: 100;
}
.video-text h2 {
	font-size: 40px;
	margin-bottom: 15px;
}
.video-text p {
	margin-bottom: 15px;
}
.section-4 > div {
	background: url(../images/bg-4.jpg) 50% 0 no-repeat;
	background-size: cover;
	text-align: center;
}
.advantages {
	position: absolute;
	top: 110px;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.advantages .item {
	width: 33.3%;
	height: 300px;
	position: relative;
	color: #d8e2e7;
	font-size: 18px;
	line-height: 30px;
}
.advantages .item-wrap {
	position: relative;
	min-width: 300px;
	display: inline-block;
	padding-top: 35px;
}
.advantages .item-wrap:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 300px;
	background: url(../images/ico-triangle.png) 50% 0 no-repeat;
	top: 0;
	left: 0;
	z-index: -1;
	transition: .5s;
}
.advantages .item:before {
	content: '';
	display: block;
	position: absolute;
	top: 145px;
	width: 90px;
	height: 1px;
	background: #cda940;
	left: 50%;
	margin-left: -45px;
}
.advantages .item-wrap:hover:after {
	-webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
	background: url(../images/ico-triangle-h.png) 50% 0 no-repeat;
}
.advantages .item h3 {
	margin-bottom: 40px;
	font-size: 40px;
	line-height: 40px;
}
.section-5 > div {
	background: url(../images/bg-5.jpg) 50% 0 no-repeat;
	background-size: cover;
}

.best-models {
	position: absolute;
	top: 25px;
	right: 25px;
	bottom: 25px;
	left: 25px;
	
}
.best-models-arrow {
	position: absolute;
	top: 65px;
	left: 0;
	z-index: 100;
}
.best-models-wrap {
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	position: absolute;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.slider-arrow.disabled {
	visibility: hidden;
}
.best-models h2 {
	position: absolute; 
	left: 0;
	top: 0;
	font-size: 40px;
	line-height: 70px;
	text-transform: uppercase;
	letter-spacing: 20px;
}
.photo-line {
	width: 100%;
	//height: 33.3%;
	position: relative;
	height: 278px;
}
.photo-line + .photo-line {
	//height: calc(33.3% - 45px);
	//margin-top: 45px;
}
.best-models .photo-item {
	display: block;
	position: absolute;
	bottom: 0;
	height: 100%;
}
.best-models img {
	max-height: 100%;
	width: auto;
}
/*.category-image:after,*/
.catalog-wrap .catalog-photo:after,
.best-models .photo-item:after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(1, 24, 36, .4) url(../images/ico-zoom.png) 50% 50% no-repeat;
	opacity: 0;
	transition: .2s;
}
/*.category-wrap .item:hover .category-image:after,*/
.catalog-wrap  .item:hover .catalog-photo:after,
.best-models .photo-item:hover:after {
	opacity: 1;
}
.best-models .photo-1 {
	right: 35.7%;
}
.best-models .photo-2 {
	right: 0;
}
.best-models .photo-3 {
	left: 11.6%;
}
.best-models .photo-4 {
	right: 35.7%;
}
.best-models .photo-5 {
	right: 13.14%;
}
.best-models .photo-6 {
	right: 0;
}
.best-models .photo-7 {
	left: 0;
}
.best-models .photo-8 {
	left: 26.6%;
}
.best-models .photo-9 {
	left: 43.3%;
}
.best-models .photo-10 {
	right: 25.2%;
}
.best-models .photo-11 {
	right: 0;
}
.section-6 > div {
	background: url(../images/bg-6.jpg) 50% 0 no-repeat;
	background-size: cover;
}

.callback-form {
	position: absolute;
	width: 100%;
	top: 27%;
	text-align: center;
	padding-top: 70px;
}
.callback-form:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	width: 300px;
	height: 300px;
	top: 0;
	left: 50%;
	margin-left: -150px;
	background: url(../images/ico-triangle.png) 50% 0 no-repeat;
	z-index: -1;
}
.callback-form h2 {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 35px;
	text-transform: uppercase;
	letter-spacing: 20px;
}
.callback-form h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 9px;
}
.form-wrap {
    margin-top: 160px;
}
.form-inputs-block {
	width: 290px;
	margin: 0 auto;
}
.form-inputs-footer {
	width: 100%;
}
.form-footer {
	width: 290px;
	margin: 0 auto;
}
.form-wrap .form-title {
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 30px;
}
.form-wrap input[type=text] {
	border: none;
	outline: none;
	font-family: 'pf';
	font-size: 14px;
	padding: 5px 0 5px 35px;
	width: 290px;
	color: #fff;
}
.form-input {
	border-bottom: 1px solid #fff;
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
}
.form-input.focus {
	border-bottom: 1px solid #cda940;
}
.form-input:before,
.form-input:after {
	content: '';
	position: absolute;
	display: block;
	width: 1px;
	height: 5px;
	bottom: 0;
	background: #fff;
}
.form-input.focus:before,
.form-input.focus:after {
	background: #cda940;
}
.form-input.error {
	border-bottom: 1px solid #D25050;
}
.form-input.error:before,
.form-input.error:after {
	background: #D25050;
}
.form-input:before {
	left: 0;
}
.form-input:after {
	right: 0;
}
.input-name input {
	background: url(../images/ico-name.png) 10px 6px no-repeat;
}
.input-phone input {
	background: url(../images/ico-phone.png) 10px 6px no-repeat;
}
.input-email input {
	background: url(../images/ico-email.png) 10px 6px no-repeat;
}
.form-wrap input[type=submit] {
	display: inline-block;
	width: 100%;
	background: transparent;
	border: 1px solid #cda940;
	height: 70px;
	line-height: 68px;
	color: #cda940;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	transition: .2s;
	font-family: 'pf';
}
.form-wrap input[type=submit]:hover {
	background: #cda940;
	color: #fff;
}

.section-7 > div {
	background: url(../images/bg-7.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.catalog {
	position: absolute;
	top: 25px;
	right: 25px;
	bottom: 25px;
	left: 25px;
}
.catalog h2 {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 40px;
	line-height: 72px;
	letter-spacing: 19px;
	text-transform: uppercase;
}
.catalog-wrap {
	position: absolute;
	width: 71%;
	right: 0;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	top: 0;
    bottom: 0;
}
.catalog-line {
	width: 100%;
	text-align: justify;
	font-size: 0;
}
.catalog-line:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}
.catalog-line .item {
	display: inline-block;
}
.catalog-line + .catalog-line {
	//height: calc(33.3% - 45px);
	//margin-top: 45px;
}
.catalog-line .catalog-photo {
	height: 100%;
	position: relative;
	display: block;
}
.catalog-line .catalog-photo  img {
	max-height: 100%;
	width: auto;
	max-width: 100%;
    height: auto;
}
.catalog-wrap .item {
	position: relative;
	padding-left: 30px;
	height: 100%;
	max-width: 20%;
}
.vertical-price {
	position: absolute;
	left: -30px;
    top: 30px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-size: 16px;
}

.section-8 > div {
	background: url(../images/bg-8.jpg) 50% 0 no-repeat;
	background-size: cover;
	text-align: center;
}
.section-8 .main-text {
	margin-top: 260px;
}
.section-12 > div {
	background: url(../images/bg-12.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.section-9 > div {
	background: url(../images/bg-9.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.category {
	position: absolute;
	top: 25px;
	right: 25px;
	bottom: 25px;
	left: 25px;
}
.category h2 { 
	font-size: 40px;
	line-height: 72px;
	letter-spacing: 20px;
	text-transform: uppercase;
}
.category h3 { 
	font-size: 16px;
	line-height: 72px;
	letter-spacing: 8px;
	text-transform: uppercase;
}
.category-wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 56.9%;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.category-line {
	width: 100%;
	text-align: justify;
	font-size: 0;
}
.category-line:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}
.category-line .item {
	display: inline-block;
	max-width: 33.3%;
	padding: 0 10px 0 30px;
	font-size: 16px;
	height: 100%;
	position: relative;
}
/*.category-line {
	width: 100%;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.category-wrap .item {
	position: relative;
	padding-left: 30px;
	height: 100%;
	max-width: 33.3%;
}*/
.category-image {
	height: 100%;
	position: relative;
}
.category-wrap .item img {
	max-height: 100%;
	width: auto;
	max-width: 100%;
	height: auto;
}
.category-name {
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	left: -45%;
	top: 0;
    margin-top: 50%;
	text-align: right;
	width: 100%;
}
.section-10 > div {
	background: url(../images/bg-10.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.about {
	position: absolute;
	top: 25px;
	right: 25px;
	bottom: 25px;
	left: 25px;
}
.about h2 {
	font-size: 40px;
	line-height: 72px;
	letter-spacing: 20px;
	text-transform: uppercase;
}
.photo-slider {
	position: absolute;
	top: 0;
	right: 0;
	height: 70%;
	width: 50%;
	text-align: right;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	height: 100%;
}
.photo-slider img {
	max-height: 100%;
	width: auto;
	display: inline-block;
}
.about-wrap {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		
}
.about-wrap .item {
	position: relative;
	min-width: 300px;
	height: 300px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 85px;
}
.about-wrap .item:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 300px;
	background: url(../images/ico-triangle.png) 50% 0 no-repeat;
	top: 0;
	left: 0;
	z-index: -1;
	transition: .5s;
}
.about-wrap .item:hover:after {
	-webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
	background: url(../images/ico-triangle-h.png) 50% 0 no-repeat;
}
.slider-arrow {
	display: block;
	width: 67px;
	height: 67px;
	background: url(../images/ico-slider-arrows.png) no-repeat;
	float: left;
}
.slider-arrow + .slider-arrow {
	margin-left: 15px;
}
.arrow-prev {
	background-position: 0 0;
}
.arrow-next {
	background-position: 0 -67px;
}
.arrow-prev:hover {
	background-position: 0 -134px;
}
.arrow-next:hover {
	background-position: 0 -201px;
}
.section-11 > div {
	background: url(../images/bg-11.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.contacts {
	position: absolute;
	top: 25px;
	right: 25px;
	bottom: 25px;
	left: 25px;
	padding-top: 70px;
}
.address {
	display: block;
	position: relative !important;
	width: 350px;
	margin: 0 auto;
}
.map {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 485px;
}
.footer-contacts {
	position: absolute;
	bottom: 20px;
	left: 52px;
	right: 52px;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer-contacts  a {
	color: #d8e2e7;
	font-size: 20px;
}
.arrows-wrap {
	margin-top: 80px;
	overflow: hidden;
}
.popup-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(1, 24, 36, .8);
}
.popup-wrapper {
	position: absolute;
	top: 20%;
	left: 50%;
	z-index: 100;
}
#lightcase-nav {
	position: absolute;
	top: 52px;
	right: 52px;
	bottom: 52px;
	left: 52px;
}
.lightcase-icon-close {
	font-size: 0;
	position: absolute;
	top: 35px;
	right: -20px;
	width: 35px;
	height: 35px;
	background: url(../images/ico-close.jpg);
	z-index: 200;
}
.catalog-arrow {
	margin-top: 220px;
}
.popup-category {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(1, 24, 36, .8);
	visibility: hidden;
}
.category-slider {
	position: absolute;
	top:20%;
	left: 30%;
}
.modal-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(20, 33, 39, .7);
	z-index: 300;
	display: none;
}
.modal-wrap {
	width: 485px;
	height: 400px;
	background: #142127;
	position: absolute;
	left: 50%;
	margin-left: -242px;
	top: 20%;
	z-index: 400;
	padding-top: 40px;
	display: none;
}
.modal-wrap:before {
	content: '';
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	border: 1px solid #cda940;
	z-index: 200;
}
.modal-wrap .form-wrap {
	margin-top: 0;
	text-align: center;
	z-index: 500;
	position: relative;
}
.modal-wrap .form-wrap .form-title {
	margin-bottom: 30px;
}
.form-success {
	padding-top: 70px;
}
.form-success .form-title {
	position: relative;
	margin-bottom: 
}
.form-success .form-title:after {
	content: '';
	position: absolute;
	display: block;
	width: 70px;
	height: 1px;
	background: #cda940;
	bottom: -12px;
	left: 50%;
	margin-left: -35px;
}
.form-success .text-success {
	font-size: 16px;
	line-height: 30px;
}
.form-loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/loader.gif) 50% 50% no-repeat;
}
.modal-wrap .form-inputs-block .btn {
	width: 100%;
}






@media (max-width: 1700px) {
	.section-8 h2 {
		font-size: 38px;
		letter-spacing: 17px;
	}
	.category h3 {
		letter-spacing: 5px;
	}
	.text-consult {
		top: 120px;
	}
}
@media (max-width: 1600px) {
	.main-text h1 {
		font-size: 38px;
	}
	.section-8 h2 {
		font-size: 36px;
	}
	.facts {
		left: 150px;
		right: 150px;
	}
	.category h2,
	.catalog h2,
	.best-models h2 {
		font-size: 34px;
	}
}
@media (max-width: 1540px) {
	.category h2,
	.catalog h2,
	.best-models h2 {
		font-size: 28px;
	}
	.about h2,
	.section-8 h2 {
		font-size: 36px;
		letter-spacing: 15px;
	}
	.category h3 {
		letter-spacing: 5px;
		font-size: 14px;
	}
}
@media (max-width: 1440px) {
	.about h2,
	.callback-form h2,
	.section-8 h2, .main-text h1 {
		font-size: 34px;
	}
	.callback-form h3,
	.section-8 h3, .main-text h3 {
		font-size: 16px;
	}
	.facts {
		left: 120px;
		right: 120px;
	}
	.category h2,
	.catalog h2,
	.best-models h2 {
		font-size: 24px;
		line-height: 56px;
	}
	.arrows-wrap {
		//margin-top: 60px;
	}
	.section-8 h2 {
		font-size: 32px;
		letter-spacing: 12px;
	}
	.best-models .photo-1 {
		right: 31.7%;
	}
}
@media (max-width: 1366px) {
	.about h2,
	.section-8 h2, .main-text h1 {
		font-size: 30px;
	}
	.main-text:before {
		background-size: 240px;
	}
	.main-text:after {
		top: 100px;
	}
	.main-text {
		padding-top: 50px;
	}
	.section-1 h2 {
		font-size: 14px;
		line-height: 28px;
	}
	.facts {
		left: 80px;
		right: 80px;
	}
	.triangle-float .item {
		background-size: 250px;
	}
	.triangle-float .item .float-image {
		width: 250px;
		height: 250px;
	}
	.triangle-float .item:hover .float-image {
		margin-left: -125px
	}
	.facts .item:before {
		right: -40px !important;
	}
	.advantages .item h3 {
		font-size: 30px;
		line-height: 30px;
	}
	.advantages .item .description {
		font-size: 16px;
	}
	.advantages .item-wrap:after {
		background-size: 250px;
	}
	.advantages .item-wrap:hover:after {
		background-size: 250px;
	}
	.about h2,
	.category h2,
	.catalog h2,
	.best-models h2 {
		font-size: 20px;
		letter-spacing: 15px;
		line-height: 48px;
	}
	.catalog-arrow {
		margin-top: 170px;
	}
	.category h2 {
		margin-bottom: 20px;
	}
	.category h3 {
		width: 340px;
		line-height: 34px;
	}
	.category-wrap {
		width: 63%;
	}
	.arrows-wrap-about {
		margin-top: 10px;
	}
	.best-models-arrow {
		margin-top: 60px;
	}
}
@media (max-width: 1280px) {
	.text-consult {
		font-size: 18px;
	}
	.section-8 h2, .main-text h1 {
		font-size: 26px;
		line-height: 28px;
	    margin-bottom: 45px;
	}
	.callback-form h2 {
		font-size: 30px;
	}
	.callback-form h3 {
		letter-spacing: 6px;
	}
	.form-wrap .form-title {
		font-size: 16px;
	}
	.facts {
		left: 30px;
		right: 50px;
	}
	.facts .item:before {
		right: -20px !important;
	}
	.advantages .item-wrap:after {
		background-size: 230px;
	}
	.advantages .item-wrap:hover:after {
		background-size: 230px;
	}
	.advantages .item-wrap {
		padding-top: 20px;
	}
	.advantages .item:before {
		top: 100px;
	}
	.advantages .item .description {
		font-size: 16px;
		line-height: 22px;
	}
	.about h2,
	.category h2,
	.catalog h2,
	.best-models h2 {
		line-height: 38px;
		letter-spacing: 10px;
	}
	.arrows-wrap {
		margin-top: 30px;
	}
	.catalog-arrow {
		margin-top: 130px;
	}
	.catalog-wrap {
		width: 75%;
	}
	.category-wrap {
		width: 68%;
	}
	.section-12 .callback-form h2 {
		font-size: 28px;
		letter-spacing: 15px;
	}
	.category-image:after,
	.catalog-wrap .catalog-photo:after,
	.best-models .photo-item:after {
		background-size: 47px;
	}
}
@media (max-width: 1170px) {
	.about h2,
	.section-8 h2, .main-text h1 {
		font-size: 22px;
		line-height: 26px;
	    margin-bottom: 40px;
	}
	.section-1 h2 {
		font-size: 12px;
		line-height: 24px;
	}
	.facts {
		left: 10px;
		right: 30px;
	}
	.triangle-float .item {
		background-size: 200px;
	}
	.triangle-float .item .float-image {
		width: 200px;
		height: 200px;
		top: 24px;
	}
	.triangle-float .item:hover .float-image {
		margin-left: -100px
	}
	.best-models .photo-4,
	.best-models .photo-1 {
		right: 32.7%;
	}
}
@media (max-width: 1070px) {
	.about h2,
	.section-8 h2, .main-text h1 {
		letter-spacing: 15px;
	}
	.section-1 h2 {
		letter-spacing: 7px;
	}
}



@media (max-height: 1060px) {
	.about-wrap {
		bottom: 15px;
	}
	.contacts {
		padding-top: 50px;
	}
	.map {
		height: 450px;
	}
}
@media (max-height: 1020px) {
	.main-text {
		margin-top: 50px;
	}
	.callback-form {
		top: 17%;
	}
	.photo-line,
	.catalog-line {
		height: calc(33.3% - 25px);
	}
	.category-line {
		height: calc(50% - 25px);
	}
	.section-8 .main-text {
		margin-top: 200px;
	}
	.contacts {
		padding-top: 30px;
	}
	.map {
		height: 400px;
	}
}
@media (max-height: 990px) {
	.facts {
		top: 150px;
		bottom: 120px;
	}
	.photo-line,
	.catalog-line {
		height: calc(33.3% - 20px);
	}
	.category-line {
		height: calc(50% - 20px);
	}
}
@media (max-height: 950px) {
	.main-text {
		margin-bottom: 50px;
		margin-top: 15px;
	}
	.consultation {
		margin-top: -40px;
	}
	.advantages {
		top: 80px;
	}
	.callback-form {
		top: 12%;
	}
	.section-8 .main-text {
		margin-top: 150px;
	}
	.about-wrap .item {
		height: 250px;
	}
	.about-wrap .item:after {
		background-size: 250px;
		height: 250px;
	}
	.about-wrap .item:hover:after {
		background-size: 250px;
		height: 250px;
	}
	.contacts {
		padding-top: 10px;
	}
	.map {
		height: 370px;
	}
}
@media (max-height: 900px) {
	.facts {
		top: 100px;
		bottom: 80px;
	}
	.consultation {
		margin-top: -70px;
	}
	.photo-line,
	.catalog-line {
		height: calc(33.3% - 15px);
	}
	.category-line {
		height: calc(50% - 15px);
	}
	.contacts {
		padding-top: 0;
	}
	.map {
		height: 320px;
	}
}
@media (max-height: 875px) {
	.advantages .item-wrap {
		padding-top: 25px;
	}
	.advantages .item:before {
		top: 115px;
	}
	.advantages .item-wrap:after {
		background-size: 270px;
	}
	.advantages .item-wrap:hover:after {
		background-size: 270px;
	}
	.advantages .item h3 {
		font-size: 35px;
		line-height: 35px;
	}
	.form-wrap {
		margin-top: 130px;
	}
	.section-8 .main-text {
		margin-top: 115px;
	}
	.main-text {
		padding-top: 40px;
	}
	.main-text:before {
		background-size: 230px;
	}
	.main-text:after {
		top: 95px;
	}
	.consultation {
		margin-top: -150px;
	}
}
@media (max-height: 810px) {
	.callback-form {
		top: 10%;
	}
	.form-wrap {
		margin-top: 100px;
	}
	.main-text:before {
		background-size: 270px;
	}
	.section-8 .main-text {
		margin-top: 80px;
	}
	.triangle-float .item {
		background-size: 270px;
	}
	.address .float-image {
		width: 270px;
		height: 270px;
	}
	.address .float-image img {
		max-width: 100%;
		height: auto;
	}
	.address .triangle-float .item:hover .float-image {
		margin-left: -135px;
	}
}
@media (max-height: 790px) {
	.facts {
		top: 70px;
		bottom: 50px;
	}
	.advantages {
		top: 50px;
	}
	.advantages .item h3 {
		font-size: 32px;
		line-height: 32px;
	}
	.advantages .item-wrap:after {
		background-size: 250px;
	}
	.advantages .item-wrap:hover:after {
		background-size: 250px;
	}
	.photo-line,
	.catalog-line {
		height: calc(33.3% - 10px);
	}
	.category-line {
		height: calc(50% - 10px);
	}
	.section-8 .consultation {
		margin-top: -90px;
	}
	.map {
		height: 270px;
	}
	.address.item {
		background-size: 210px !important;
	}
	.triangle-float .address .float-image {
		left: 110px !important;
		width: 210px !important;
		height: 210px !important;
	}
	.triangle-float .address:hover .float-image {
		left: 50% !important;
		margin-left: -105px !important;
	}
	.address .triangle-float .item {
		padding-top: 30px;
		background-size: 210px;
	}
	.main-text:before {
		background-size: 200px;
	}
	.main-text h1 {
		font-size: 36px;
		margin-bottom: 35px;
	}
	.consultation {
		margin-top: -180px;
	}
}
@media (max-height: 770px) {
	.callback-form:before {
		background-size: 270px;
	}
	.form-wrap {
		margin-top: 70px;
	}
	.advantages .item {
		height: 250px;
	}
	.advantages {
		top: 25px;
	}
	.callback-form {
		top: 12%;
	}
	.callback-form:before {
		background-size: 230px;
	}
	.callback-form {
		padding-top: 30px;
	}
	.manager {
		top: 300px;
	}
	.main-text:before {
		background-size: 200px;
	}
	.main-text {
		padding-top: 17px;
	}
	.main-text:after {
		top: 64px;
	}
	.style-img {
		height: 250px;
	}
	.style-img img {
		max-height: 100%;
		width: auto;
	}
	.text-consult {
		top: 80px;
	}
	.fixed-wrapper {
		top: 25px;
		bottom: 32px;
	}
	#lightcase-overlay {
		top: 25px;
		bottom: 25px;
	}
	.footer-contacts {
		bottom: 6px;
	}
}
@media (max-height: 700px) {
	.callback-form {
		top: 8%;
	}
	.best-models-arrow {
		margin-top: 35px;
	}
}